//SASS variables to augment Bootstrap here
$primary: #2b9ad2;
$secondary: #9c9d97;
$info: #9c6b49;
$success: #42a977;
$warning: #bf993f;
$danger: #f44336;
$light: #f5f5f2;
$dark: #263948;

//import bootstrap modules here or all of bootstrap
@import "bootstrap/scss/bootstrap";

//import bootstrap fonts
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");

//CSS overrides and additions here:

a {
  text-decoration: none;
}

.r4-fullscreen-bg-img {
  background: url("../public/images/background/default.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  padding-top: 10vh;
}

.r4-login-panel {
  width: 360px;
  margin: auto;
  max-width: 100%;
  min-width: 240px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
  background-color: rgba($color: #000000, $alpha: 0.7);
}

.r4-carousel-item {
  height: 24rem;
  background: #000;
  color: white;
  position: relative;
}

.r4-carousel-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
}

.r4-carousel-overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.6;
}

@media screen and (min-width: 576px) {
  .r4-carousel-item {
    height: 32rem;
    background: #000;
    color: white;
    position: relative;
  }
}
